node_modules
dist
.DS_Store
._.DS_Store
.eslintrc.json
pnpm-lock.yaml
.vscode
package-lock.json
tsconfig.json
ignore

# Removing WaifuIt since its deprecation.

./src/apis/waifuit

./types/apis/waifuit

./src/consts/waifuit.js
